@font-face {
  font-family: "cream_cake";
  src: url("/fonts/cream_cake.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
.app-container {
  @apply flex flex-wrap justify-center gap-5;
}

h1 {
  font-family: "cream_cake";
}

.loader {
  @apply relative flex justify-center items-center w-screen h-screen bg-green-900 text-white overflow-hidden;
}

.shadow-li {
  box-shadow: 0px 2px 4px 0px #0000000a, 0px 1px 6px 0px #00000005;
}
.modal-bg {
  background-color: rgb(248, 245, 245);
}

.loader-text {
  @apply absolute top-1/2 text-7xl drop-shadow-md;
}
.santa-image {
  position: absolute;
  bottom: 20%; /* Расположить чуть выше нижнего края */
  left: -30%; /* Начальная позиция слева за экраном */
  height: 120px;
  animation: santaMove 5s linear forwards; /* Движение Санты */
}

/* Анимация движения Санты */
@keyframes santaMove {
  from {
    left: -30%;
  }
  to {
    left: 110%; /* Уходит за правую границу */
  }
}

.recipe-list {
  @apply grid grid-cols-1 gap-4 p-4 sm:grid-cols-3 md:grid-cols-5;
}

.card-front {
  @apply w-[200px] h-[200px];
}

.modal-backdrop {
  @apply fixed top-0 left-0 w-full h-full bg-black bg-opacity-60 flex justify-center items-center z-50;
}

.close-button {
  @apply absolute top-2 right-2 bg-transparent border-none text-lg cursor-pointer;
}

.video-container {
  @apply mt-4 text-center;
}

.play-button,
.pause-button {
  @apply px-4 py-2 mx-2 cursor-pointer bg-gray-800 text-white rounded text-sm hover:bg-gray-600;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* styles.css */

.modal-overlay {
  @apply fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50;
}

.modal-content {
  @apply relative max-w-lg p-4 sm:p-6 rounded-lg shadow-lg max-h-[90vh] sm:h-auto overflow-y-auto mx-2 sm:mx-4 sm:max-w-xs lg:min-w-[50%];
}

.close-button {
  @apply absolute top-3 right-3 sm:top-4 sm:right-4 text-gray-500 hover:text-gray-700;
}

.modal-title {
  @apply mb-4 text-center text-gray-800 sm:text-4xl;
}

.modal-text {
  @apply space-y-2 text-sm sm:text-base;
}

.video-container {
  @apply flex justify-center mt-4;
}

.video {
  @apply w-full sm:max-w-md h-[200px] sm:h-[350px] rounded-lg shadow-md;
}

.set-show-preview {
  @apply w-full sm:max-w-[20rem] sm:h-[350px] rounded-lg shadow-md;
}

/* Обновленные стили */

/* Обновленные стили для карточки рецепта */
.recipe-card {
  @apply relative w-52 h-52 bg-white rounded-lg shadow-md transition-transform duration-300 ease-in-out cursor-pointer;
  position: relative; /* Убедитесь, что контейнер относительно позиционируется */
}

.card-inner {
  @apply w-full h-full rounded-lg bg-beige relative overflow-hidden;
}

.recipe-name {
  @apply text-[4.5rem] mt-2 absolute z-10 drop-shadow-xl; /* Убедитесь, что цифра на переднем плане */
}

.recipe-image {
  @apply w-full h-full object-cover transition-opacity duration-1000 ease-in-out; /* Изображение с начальной непрозрачностью 0 */
}

.locked-message {
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-black bg-opacity-70 text-white p-2 rounded;
}
