@font-face {
  font-family: "CristmasFont";
  src: url("/fonts/christmas_font.ttf") format("ttf");
}
body {
  font-family: "ChristmasFont";
}
.app-container {
  @apply flex flex-wrap justify-center gap-5;
}

.loader {
  @apply flex justify-center items-center h-screen text-lg md:text-xl text-gray-800 animate-[FadeIn];
}

.recipe-list {
  @apply grid grid-cols-1 gap-4 p-4 sm:grid-cols-3 md:grid-cols-5;
}

.card-front {
  @apply w-[200px] h-[200px];
}

/* .card-inner {
  @apply w-full relative inset-0 h-full;
} */

/* .recipe-card {
  @apply relative w-52 h-52 bg-white rounded-lg shadow-md transition-transform duration-300 ease-in-out cursor-pointer;
} */

/* .recipe-name {
  @apply text-[4rem] font-bold mt-2;
} */

/* .recipe-card.disabled {
  @apply opacity-50 cursor-not-allowed;
} */

/* .locked-message {
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-black bg-opacity-70 text-white p-2 rounded;
} */

/* .recipe-image {
  @apply w-[140px] rounded-lg;
} */

/* .recipe-image {
  @apply w-full h-full object-cover rounded-lg;
} */

.modal-backdrop {
  @apply fixed top-0 left-0 w-full h-full bg-black bg-opacity-60 flex justify-center items-center z-50;
}

/* .modal-content {
  @apply bg-white p-4 rounded-lg w-11/12 max-w-md max-h-4/5 overflow-y-auto;
} */
.close-button {
  @apply absolute top-2 right-2 bg-transparent border-none text-lg cursor-pointer;
}

.modal-title {
  @apply text-lg font-bold mb-4;
}

.video-container {
  @apply mt-4 text-center;
}

.play-button,
.pause-button {
  @apply px-4 py-2 mx-2 cursor-pointer bg-gray-800 text-white rounded text-sm hover:bg-gray-600;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* styles.css */

.modal-overlay {
  @apply fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50;
}

.modal-content {
  @apply relative w-[90%] max-w-lg p-4 sm:p-6 bg-white rounded-lg shadow-lg max-h-[90vh] sm:h-auto overflow-y-auto mx-2 sm:mx-4 sm:max-w-xs lg:min-w-[50%];
}

.close-button {
  @apply absolute top-3 right-3 sm:top-4 sm:right-4 text-gray-500 hover:text-gray-700;
}

.modal-title {
  @apply mb-4 text-xl sm:text-2xl font-semibold text-center text-gray-800;
}

.modal-text {
  @apply space-y-2 text-sm sm:text-base;
}

.video-container {
  @apply flex justify-center mt-4;
}

.video {
  @apply w-full sm:max-w-md h-[200px] sm:h-[350px] rounded-lg shadow-md;
}

/* Обновленные стили */

/* Обновленные стили для карточки рецепта */
.recipe-card {
  @apply relative w-52 h-52 bg-white rounded-lg shadow-md transition-transform duration-300 ease-in-out cursor-pointer;
  position: relative; /* Убедитесь, что контейнер относительно позиционируется */
}

.card-inner {
  @apply w-full h-full rounded-lg bg-beige relative overflow-hidden;
}

.recipe-name {
  @apply text-[4.5rem] font-bold mt-2 absolute z-10; /* Убедитесь, что цифра на переднем плане */
}

.recipe-image {
  @apply w-full h-full object-cover opacity-50 transition-opacity duration-1000 ease-in-out; /* Изображение с начальной непрозрачностью 0 */
}

.recipe-card:hover .recipe-image {
  @apply opacity-100; /* При наведении прозрачность становится 100% */
}

.locked-message {
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-black bg-opacity-70 text-white p-2 rounded;
}
